$default-white-color:   #fff;
$middle-white-color:    #ffffffa8;
$light-purple-color:    #d58df1;
$default-purple-color:  #ce4bb3;
$move-purple-color:     #ce4bb4cb;
$active-purple-color:   #f706f7;
$light-blue-color:      rgb(38, 146, 247);
$create-blue-color:     rgb(1, 96, 184);
$active-blue-color:     rgb(0, 26, 255);
$mineral-color:         rgb(0, 119, 128);
$light-green-color:     rgb(6, 207, 6);
$default-yellow-color:  rgb(248, 252, 5);
$hot-red-color:         #e64b4bee;
$default-red-color:     red;
$red-error-color:       rgba(255, 0, 0, 0.719);
$active-remove-color:   rgba(226, 34, 34, 0.801);
$light-red-error-color: rgba(247, 113, 113, 0.418);
$red-remove-color:      rgba(255, 5, 5, 0.315);
$border-gray-color:     rgb(173, 171, 171);
$middle-gray-color:     #ffffff46;
$hover-gray-color:      #c3c6c7;
$light-gray-color:      rgb(117, 116, 116);
$default-gray-color:    #555;
$dark-blue-color:       #2a28479a;
$meddle-purple-color:   #41033c;
$dark-bg-color:         #1615157e;
$light-dark-color:      rgba(29, 28, 28, 0.349);
$middle-dark-color:     rgba(12, 11, 11, 0.47);
$black-color:           #000;