.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 290px);
    background-image: radial-gradient(circle at 50% -20.71%, 
    #83434dc4 0, 
    #ff82ad 8.33%, 
    #ce4bb3 16.67%, 
    #ce4bb3 25%, 
    #ce4bb3 33.33%, 
    #ce4bb3 41.67%, 
    #ce4bb3 50%, 
    #ce4bb3 58.33%, 
    #ad46ab 66.67%, 
    #9042a4 75%, 
    #753f9d 83.33%, 
    #5c3e98 91.67%, 
    #423e94 100%);
    backdrop-filter: blur(45px);
    &_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 850px;
        min-height: 455px;
        border: 1px solid rgb(173, 171, 171);
        padding: 12px 20px 20px 20px;
        margin-top: 15px;
        background-color: rgba(12, 11, 11, 0.47);
        border-radius: 12px;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 2px; 
            height: 8px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #ce4bb3;
            border-radius: 6px; 
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: #555; 
        }
    }
    &_data {
        width: 800px;
        margin-bottom: 15px;
        display: flex;  
        justify-content: space-between;
        align-items: center;
        margin-top: 35px;
        border: 1px solid gray;
        border-radius: 15px;
        padding: 5px 15px 5px 15px;
        background-color: rgba(29, 28, 28, 0.349);
        &-result {
            font-size: 22px;
            padding-left: 10px;
            color: #807e7e;
            span {
                font-weight: 700;
                background-color: rgb(117, 116, 116);
                padding: 4px 10px;
                border-radius: 100%;
                color: #fff;
                margin-left: 5px;
            }
        }
        &-create {
            display: flex;
            align-items: center;
            button {
                width: 60px;
                height: 60px;
                padding-top: 8px;
                border-radius: 100%;
                font-size: 42px;
                background-color: rgb(1, 96, 184);
                color: #fff;
                border: none;
                outline: none;
                &:hover {
                    background-color: rgb(38, 146, 247);
                }
            }
        }
    }
}

.moon-bg {
    background-image: linear-gradient(175deg, 
    #ff9b58 0, 
    #fd835b 8.33%, 
    #ff7d71 16.67%, 
    #f86e7a 25%, 
    #f85777 33.33%, 
    #fc4a7c 41.67%, 
    #fa4380 50%, 
    #d13177 58.33%, 
    #b83d7d 66.67%, 
    #a02372 75%, 
    #86226f 83.33%, 
    #762e71 91.67%, 
    #571861 100%);
}