@import "../variables.scss";

.forms {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    z-index: 9999;
    &_container {
        position: relative;
        width: 850px;
        height: 550px;
        border: 2px solid $default-white-color;
        animation: show-modal 1.2s forwards;
        &-create {
            width: 150px;
            height: 55px;
            font-weight: 700;
            font-size: 24px;
            color: $meddle-purple-color;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: 'Work Sans', sans-serif;
            background: linear-gradient(to left, #e753f5, #830e7b, #640ed3);
            text-decoration: none;
            padding: 7px 25px;
            border-radius: 5px;
            background-size: 200%;
            transition: .7s;
            border: none;
            &:hover {
                background-position: right;
                color: $light-purple-color;
            }
        }
        &-fields {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(../../img/form.jpg);
            background-size: cover;
            input {
                padding-left: 20px;
            }
            input::placeholder {
                color: $black-color;
                text-transform: uppercase;
            }
            input:focus, input:active {
                color: $default-white-color;
            }
            &-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                width: 620px;
                height: 95px;
                &-input, select  {
                    width: 450px;
                    height: 40px;
                    margin-top: 15px;
                    background-color: $middle-gray-color;
                    border: 1px solid $default-white-color;
                    border-radius: 15px;
                    margin-bottom: 15px;
                    font-size: 18px;
                    outline: none;
                    font-family: 'Work Sans', sans-serif;
                    &:focus {
                        border: 1px solid $active-blue-color;
                        background-color: $light-blue-color;
                    }
                }
                select {
                    width: 472px;
                    padding-left: 20px;
                    text-transform: uppercase;
                }
                label {
                    font-size: 20px;
                    color: $default-white-color;
                    letter-spacing: 1px;
                    font-family: 'Work Sans', sans-serif;
                }
            }
        }
        &-hide {
            position: absolute;
            right: 5px;
            margin: 0;
            padding: 0;
            z-index: 9999;
            button {
                font-size: 52px;
                background: transparent;
                border: none;
                color: $red-error-color;
                cursor: pointer;
            }
        }
    }
}

.field_error {
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: center;
    padding: 5px 10px;
    background-color: $red-error-color;
    border-radius: 15px;
    color: $default-white-color;
    text-align: center;
}

.error {
    border: 2px solid $red-error-color;
    background-color: $light-red-error-color;
    color: $default-red-color;
    font-weight: 400;
} 

@keyframes show-modal {
    0% {
        opacity: 0;
        transform: translateY(-200px);
    }
    50% {

    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 650px) {
    .forms {
        &_container {
            width: 500px;
            &-fields {
                background-position: center;
                &-item {
                    width: 450px;
                    &-input {
                        width: 260px;
                    }
                    select {
                        width: 282px;
                    }
                }
            }
            &-create {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 520px) {
    .forms {
        &_container {
            width: 380px;
            &-fields {
                background-position: center;
                &-item {
                    width: 350px;
                    flex-direction: column;
                    align-items: flex-start;
                    label {
                        display: none;
                    }
                    &-input {
                        width: 93%;
                    }
                    select {
                        width: 100%;
                    }
                }
            }
            &-create {
                margin-top: 25px;
            }
        }
    }
}

@media (max-width: 435px) {
    .forms {
        &_container {
            width: 300px;
            &-fields {
                background-position: center;
                &-item {
                    width: 265px;
                }
            }
        }
    }
}