@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,regular,500,600,700);

.task {
    display: flex;
    align-items: center;
    border-bottom: .5px solid #807e7e;
    width: 800px;
    margin-top: 20px;
    padding-bottom: 7px;
    cursor: pointer;
    &:last-child {
        border-bottom: none;
    }
    &-del {
        display: flex;
        align-items: center;
        border-bottom: .5px solid #807e7e;
        width: 800px;
        margin-top: 20px;
        padding-bottom: 7px;
        animation: remove-task .5s forwards;
        background-color: rgba(255, 5, 5, 0.315);
        border-radius: 20px;
    }
    &_checkbox {
        margin-left: 25px;
        font-size: 25px;
    }
    &_content {
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-left: 30px;
        &-edit {
            font-family: 'Work Sans', sans-serif;
            margin: 2px 0;
            width: 320px;
            border-radius: 15px;
            height: 20px;
            padding-left: 15px;
            outline: none;
            border: 1px solid #fff;
            background: none;
            color: #fff;
        }
        &-title {
            h1 {
                margin: 0;
                padding: 0;
                font-family: 'Work Sans', sans-serif;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-size: 18px;
                color: #fff;
            }
        }
        &-descr {
            span {
                font-size: 14px;
                letter-spacing: .5px;
                color: #ffffffa8;
                font-weight: 400;
                font-family: 'Work Sans', sans-serif;
            }
        }
    }
    &_category {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;

        &-home, &-life, &-work {
            font-size: 30px;
            color: #fff;
            &:hover {
                color: #c3c6c7;
            }
        }
        img {
            width: 35px;
            height: 35px;
            border-radius: 100%;
        }
    }
    &_methods {
        display: flex;
        align-items:flex-end;
        width: 170px;
        height: 64px;
        &-click, &-date {  
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        &-date {
            span {
                margin-right: 30px;
                font-size: 14px;
                color: #fff;
            }
        }
        &-edit, &-remove, &-back {
            background: none;
            border: none;
            font-size: 30px;
            padding-right: 15px;
            cursor: pointer;
        }
        &-remove {
            font-size: 42px;
            color: rgba(226, 34, 34, 0.801);
            &:hover {
                color: red;
            }
        }
        &-back {
            color: #fff;
        }
        &-edit{
            color: #fff;
            &:hover {
                color: rgb(0, 119, 128);
            }
        }
        &-other {
            font-size: 30px;
            color: #fff;
        }
    }
}

.done {
    color: rgb(6, 207, 6);
} 

@keyframes remove-task {
    0% {

    }
    50% {

    }
    100% {
        transform: translateY(-70px);
    }
}